@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(30, 30, 30);
    text-transform: uppercase;
    font-size: 2.5rem;
    /* 1rem = 16px */
    color: white;
    text-shadow: 3px 3px 8px #00000075;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background-image: url("assets/swordportal.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-width: 400px;
}
/* @media screen and (max-width: 600px) {
    .logo {
        margin-left: 20px;
    }
    
}  */
.logo {
    height: 80%;
    width: 80%;
    margin-top: 5%;


}
#icon{
    height: 6,5%;
    width: 8%;
    position: absolute;
    top: 0;
    left: 0;
}
#icon:hover {
    border: 1px solid white;
    border-radius: 8%;
    cursor: pointer;

}
#menu {
    text-align: left;
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f1f1f1;
}
main {
    min-height: 500px;
    width: 90%;
    font-size: 1rem;
    /* center box  */
    text-align: center;

}
h1{
    text-align: center;
    margin : 10px;
}
.flexbox{
    background: rgba(40, 40, 40, 0.9);;
    border-radius: 20px;
    padding: 5%;
    border: 2px solid white;
    padding: 10px;
    margin: 10%;
    min-width: 250px;

}
@media screen and (max-width: 600px) {
    .flexbox {
        margin-right: 10%;
    }
    
}
.flexbox li{
    list-style: none;
    text-align: center;
}
textarea {
    display: grid;
    max-width: 90%;
    max-height: 90%;
    margin: 5%;
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    resize: horizontal;
    border-radius: 5px;
    
}
#btn-submit{
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    border-radius: 5px;
    padding: 1%;

}
#btn-submit:hover {
    background: grey;
    color: white;
}
p {
    margin: 5px;
}
a {
    text-decoration: none;
    color: white; /*par exemple*/
   }
table {
    margin: auto;

}

